{
    "mcpServers": {
      "LearningMCP": {
        "url": "http://localhost:8000/mcp"
      }
    }
  }

// {
//     "mcpServers": {
//       "LearningMCP": {
//         "command": "/workspace/.venv/bin/python",
//         "args": ["/workspace/server.py"]
//       }
//     }
//   }